
<div class="bgimg" >
  <div class="card" style="width: 50%; position: absolute; top: 100px ; left:300px; right: 300px; background-color: rgba(222, 222, 222, .5); border-radius: 10px;">
      <div class="card-body">
        <!-- <h5 class="card-title" style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Regestration Form</h5> -->
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-8">
      <h2>Regestration Form</h2>
      <br>
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-9">
    <form (ngSubmit)='addCustomer()' #addForm="ngForm">
      <div class="form-group">
        <label>Enter Your Name</label><br>
        <input type="text" [(ngModel)]=customer.name name="name" placeholder="e.g. Sherlock Holmes" pattern="[a-zA-Z_ ]{5,15}"
          #name=ngModel class="form-control" required>
        <span *ngIf="name.touched && name.invalid && (name.errors.required || name.errors.pattern)"
          class="alert-warning">
          <p class="error-div" style="color:red " >Invalid Name. Promise, we won't make fun of your name.</p></span>
        <hr>
      </div>

      <div class="form-group">
        <label>Gender: </label><br>
     <label class="radio-inline"><input type="radio" [(ngModel)]=customer.gender value = "Male" name="optradio" checked>Male</label>
     <label class="radio-inline"><input type="radio" [(ngModel)]=customer.gender value="Female" name="optradio">Female</label>
     <label class="radio-inline"><input type="radio" [(ngModel)]=customer.gender value="Others" name="optradio">Others</label>
   <hr>  
   </div> 

      <div class="form-group">
        <label>Enter Your Date Of Birth</label><br>
        <input type="date" [(ngModel)]=customer.dob name="dob" #dob=ngModel [max]="maxDate" [min]="minDate" class="form-control" required>
        <span *ngIf="dob.touched && dob.invalid && (dob.errors.required)" class="alert-warning">
          <p class="error-div" style="color:red " >Invalid Date Of Birth. Come On, Stop being immortal.</p></span>
          <!-- Invalid contact or contact cannot be empty</span> -->
        <hr>
      </div>

      <div class="form-group">
        <label>Enter Your Contact</label><br>
        <input type="text" [(ngModel)]=customer.contactNo name="contact" class="form-control" placeholder="9876543210" #contact=ngModel
        pattern="[7-9][0-9]{9}" required>
        <span *ngIf="contact.touched && contact.invalid && (contact.errors.required || contact.errors.pattern)"
          class="alert-warning">
          <p class="error-div" style="color:red " >Invalid Contact Number. Promise, we won't spam you.</p></span>
        <hr>
      </div>

      <div class="form-group">
        <label>Enter Your E-Mail</label><br>
        <input type="email" [(ngModel)]=customer.email name="email" class="form-control" placeholder="lmslover@mail.com" #email=ngModel
        pattern="[a-z0-9]+@[a-z]+.[a-z]{3,5}" required>
        <span *ngIf="email.touched && email.invalid && (email.errors.required || email.errors.pattern)"
          class="alert-warning">
          <p class="error-div" style="color:red " >Invalid E-mail. Again promise, we won't spam you.</p></span>
        <hr>
      </div>

      <div class="form-group">
        <label>Enter Your Location</label><br>
        <input type="text" [(ngModel)]=customer.location name="location" class="form-control" placeholder="Mumbai" #location=ngModel
        pattern="[A-Za-z]{3,}" required>
        <span *ngIf="location.touched && location.invalid && (location.errors.required || location.errors.pattern)"
          class="alert-warning">
          <p class="error-div" style="color:red " >Invalid Location Name.</p></span>
        <hr>
      </div>

      <div class="form-group">
        <label>Enter Your Username</label><br>
        <input type="text" [(ngModel)]=customer.userName name="username" class="form-control" placeholder="your username" #userName=ngModel
          pattern="[a-z_]{5,}" required>
        <span *ngIf="userName.touched && userName.invalid && (userName.errors.required || userName.errors.pattern)"
          class="alert-warning">
          <p class="error-div" style="color:red " >Invalid Username. Please enter 5 or more characters.</p></span>
        <hr>
      </div>

      <div class="form-group">
        <label>Enter Your Password</label><br>
        <input type="password" [(ngModel)]=customer.password name="password" class="form-control" placeholder="e.g. aZ0@!_$" #password = ngModel pattern="[A-Za-z0-9@_!$]{8,15}" required>
        <span *ngIf="password.touched && password.invalid && (password.errors.required || password.errors.pattern)"
          class="alert-warning">
          <p class="error-div" style="color:red " >Invalid Password. Grow up from <i>abcd</i></p></span>
        <hr>
      </div>

      <div class="form-group">
        <label>Confirm Your Password</label><br>
        <input type="password" [(ngModel)]=confirmPassword class="form-control" name="cpassword" placeholder="confirm your password"
          #cpassword=ngModel pattern="[A-Za-z0-9@_!$]{8,15}" required>
        <span *ngIf=correct class="alert-warning">
          <p class="error-div" style="color:red " >Passwords do not match. Concentrate please.</p></span>
        <hr>
      </div>

      <div class="form-group">
        <br>

        <div class="row">
          <div class="col-xs-2"></div>
            <div class="col-xs-2">
              <button class="btn btn-success" type="submit" [disabled]="!addForm.valid">Join Us</button>
            </div>
              <div class="col-xs-3"></div>
              <div class="col-xs-2">
                <button class="btn btn-success" (click)="goBackToLogin()">Go Back</button>
              </div>
              <div class="col-xs-3"></div>
        </div>

        <!-- <button class="btn btn-success" type="submit" [disabled]="!addForm.valid">Join Us</button> -->
      </div>
    </form>
  </div>
  <div class="col-xs-2"></div>
</div>

 </div>
<div class="col-xs-2"></div>
</div>
</div>
</div>
</div> 